---
interface Props {
  href?: string;
  target?: '_self' | '_blank' | '_parent' | '_top';
  label?: string;
  [key: string]: any;
}

const { href, target, label, ...otherProps }: Props = Astro.props;
---
{/*
example:

<ButtonPrimary href="#" label="Button" />
*/}

<a class="btn-primary btn" href={href} {...otherProps}>{label && <span class="btn-primary-label">{label}</span>}</a>