<div class="loader" data-loader></div>

<style lang="stylus" is:global>
  @media (scripting: none) 
    .loader
      display none

  .loader
    fixed top left
    background #000000
    size 100%
    z-index calc(infinity)

    .is-loaded &
      alpha(0, 0.5)
</style>
