
.modal
  fixed top left
  opacity 0
  overflow-y scroll
  pointer-events none
  size 100%
  transition opacity $duration, visibility $duration
  visibility hidden
  z-index 100

  @supports (z-index calc(infinity))
    z-index calc(infinity)

  &::-webkit-scrollbar
    display none

  .is-modal-opened&
    opacity 1
    pointer-events auto
    visibility visible

.modal-inner
  align-items center
  display flex
  justify-content center
  min-height 100%
  position relative

.modal-overlay
  absolute top left
  background rgba(#000, 0.7)
  size 100%

.modal-body
  background #010409
  margin-block 50px
  padding 50px
  position relative
  width 80%

  +media("md")
    width 50%

.modal-close-btn
  absolute top right
  size 50
  z-index 10

.modal-close-btn-icon
  absolute inset
  display block
  font-size 0
  margin auto
  overflow hidden
  size 20
  transform rotate(45deg)

.modal-close-btn-line
  background #f0f6fc
  display block
  position absolute
  transform-origin 0 0
  width 100%
  z-index 100

  &:nth-child(1)
    left 0
    size 100% 2
    top calc(50% - 1px)

  &:nth-child(2)
    left calc(50% - 1px)
    size 2 100%
    top 0