---
import { home } from "@/consts";
---
<header class="header">
  <div class="header-inner">
    <h1 class="header-logo"><a href={home.href}>Astro Template</a></h1>

    <button class="header-menu-btn sm" type="button" aria-label="メニューを開く" data-menu-btn>
      <span class="header-menu-btn-icon">
        <span class="header-menu-btn-line"></span>
        <span class="header-menu-btn-line"></span>
        <span class="header-menu-btn-line"></span>
      </span>
    </button>
  </div>
</header>
