html
  +media('md')
    font-size 62.5%

body
  font-vw-set(16)
  background-color $bg-color
  color $font-color
  font-family $body-font-family
  font-feature-settings 'palt'
  text-rendering auto
  +media('md')
    font-rem-set(16)

a
  color $link-color

img
  max-width 100%
  size 100% auto
  +media('md')
    width auto

svg
  size 100%
