html {
  @media (--md) {
    @mixin font-vw 768, 16;
  }

  @media (--xl) {
    @mixin font-vw var(--viewport-md), 16;
  }
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-default);
  font-feature-settings: "palt";
  font-size: min(vw(32, var(--viewport-sm)), half(32));
  line-height: 1;
  text-rendering: auto;

  @media (--md) {
    font-size: min(rem(16), 16px);
  }
}

a {
  color: var(--color-white);
}

small {
  font-size: 100%;
}

img {
  height: auto;
  max-width: 100%;

  @media (--sm) {
    width: 100%;
  }
}

svg {
  @mixin size 100%;
}

section {
  position: relative;
}